################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/fusionpbx-install.sh/v16/.suo
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
